body {
    margin-top: 30px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color: lightgoldenrodyellow;
}

#message {
    padding-bottom: 10px;
    font-size: 20px;
}

.game-wrapper {
    width: 600px;
    height: 300px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid blue;
}

.col-sm-4 {
    border: 1px solid grey;
    height: 40px;
    text-align: center;
    font-size: 24px;
}